@import "tailwindcss";

@theme {
  /* He can add his custom colors here later */
  --font-display: "Oswald", sans-serif;
  --font-displaypara: "SN Pro", sans-serif;
  --font-displayhead: "Bungee", sans-serif;

 /* Registering the 'Dirty Beauty' Gradient */
  --background-image-dirty-blue: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  
  /* Theme-Specific Colors */
  --color-dirty-navy: #1e293b;        /* For Headings */
  --color-dirty-steel: #475569;       /* For Paragraphs */
  --color-dirty-accent: #6366f1;      /* For Buttons/Links */
  --color-dirty-accent-hover: #4338ca;
}

